$primary_color: white;
$filter_box_color: lightcoral;
$restaurant_card_text_color: black;


h2 {
  color: $primary_color;
  size: 48px;
}

h3 {
  color: $restaurant_card_text_color;
  font-size: 48px;
}


.header {
  background: url('header.png');
  background-size: cover;
  height: 200px;
  position: relative;
  width: 100%;

  .header-text {
    background: url('header-text.png') center center no-repeat;
    height: 50%;
    position: relative;
    top: 25%;
    width: 100%;
  }
}

.list {
  position: relative;

  .filters-wrapper {
    background-color: $filter_box_color;
    height: 100px;
    margin: auto;
    position: relative;
    top: 25%;
    width: 100%;

    .filters-sm-wrapper {
      display: flex;
      flex-direction: row;
      height: 80%;
      justify-content: center;
      margin: auto;
      position: relative;
      top: 10%;
      width: 100%;
    }

    .filter-item {
      height: 100%;
      margin: 5px 5px 5px 5px;
      width: 30%;

      .text-wrapper {
        margin: 5px 5px 10px 10px;
      }
    }
  }

  .select_custom {
    background: $primary_color;
    border: transparent;
    border-radius: 5px;
    height: 50%;
    margin-left: 5px;
    width: 100%;
  }

  .restaurants-box {
    padding: 20px 0 0 20px;
    width: 30%;

    .restaurant-item {
      background-color: $primary_color;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      height: 100px;
      margin: auto;
      margin-bottom: 10px;
      position: relative;
      width: 90%;

      .restaurant-wrapper {
        height: 50%;
        position: relative;
        top: 10%;
        width: 100%;
      }

      .restaurant-sm-wrapper {
        height: 50%;
        position: relative;
        width: 100%;
      }

      .restaurant-name {
        display: inline-block;
        margin-left: 5px;
      }

      .restaurant-accepts10-bis {
        background: url('tenbis.png') no-repeat;
        display: inline-block;
        height: 10px;
        margin-left: 10px;
        width: 20px;
      }

      .restaurant-rating {
        margin: 5px 0 0 5px;
        position: relative;
      }

      .restaurant-icon {
        font-family: 'MyWebFont';
        font-size: 90px;
        height: 100%;
        text-align: center;
        width: 30%;
      }
    }
  }
}
