<!DOCTYPE html>
<html>
  <linkhead>
    <title>Eatwell</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.js"> </script>
  </linkhead>

  <body>
    <%= yield %>
  </body>
</html>
